/*Google Font*/

/*Margin vs Padding*/
/*Magin is best used when creating space between elements*/
/*Padding is best when used when creating space between element's borrder and it's content*/

body {
	font-family: 'Open Sans', sans-serif;
}

/*CSS Reset Rule*/

* {
	margin: 0;
	padding: 0;
	box-sizing: : border-box;
}

nav {
	/*shorthand property	*/
	padding: 0.8rem;
	/*padding-top:0.8rem;
	padding-left:2rem;
	padding botton:0.8rem;
	padding right:2rem;*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;

}

nav .nav, nav .nav-logo {
	margin:0.5rem;
	display: inline;
}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header {
	text-align: center;
	margin-bottom: 1rem;
}

#intro h2, #intro p {
	margin-bottom: 1rem;

}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding:1rem;
}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	width:30%;
	display: inline-block;
	vertical-align: top;
	margin-left:0.5rem;
	margin-right:0.5rem;
}


#pre-footer {
	background-color:#002540;
	color: white;
	padding:1rem;
}

#pre-footer div {
	width:20%;
	display: inline-block;
	vertical-align: top;
	padding:1rem;

}

#pre-footer h3, p {
	margin-top: .3rem;
	margin-bottom: .3rem;
}


footer {
	padding: 0.7rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

