/*CSS SYNTAX*/
/*A CSS rule-set consists of a selector and a declaration block*/

/*Selector determines which element the styling be applied*/

/*Type selector - targets element with a specified type/tag name*/
h1 {
	/*Declaration block	*/
	/*color - property (The selected styling attribute to be modified in a given selector.)*/
	/*yellow - value (The modified value of the selected styling attribte.)	*/
	color: yellow;
	text-align: center;
	font-size: 2rem;
}


section {
	height: 100vh;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

ol{
	list-style: none;
}

body {
	background-color: beige;

}

nav {
	background-color: whitesmoke;
}

a:hover {
	background-color: #b4d6de;
}

div {
	display: inline-block;
	float: right;
}


/*Universal Selector (lowest priority) - targets all the elements*/
* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/*ID Selector (highest priority)*/
/*Represented by a pound sign (#)*/
#zuitt-motto {
	letter-spacing: 5px;
}

h3 {
	letter-spacing: 25px !important;
}

/*Class Selector - targets elements according to its class attribute.*/
/*Represented by a period (.)*/
.offering-item {
	text-transform: uppercase;
}

/*Attribute selector - targets elements with a specified attributes;*/
/*tagname[attribute]*/
input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width:90%;
}

form {
	text-align: center;
	background-color: pink;
	border: 5x solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button {
	background-color: #cf0053;
	border-radius: 60px;

}

/*Important (represented by !)- overides he priority according to location and selector type.*/
/*Specifity Rule*/
/*
The following order prioritizes styles for highest to lowest priority
1. ID Selector
2. Class Selector
3. Attribute Selector
4. Type Selector
5. Universal Selector
*/
/*Specifity Rule*/
/*
The following order prioritizes styles for highest to lowest priority (according to selector)
1. Inline Styling
2. Internal Styling
3. External Styling
*/

/*CSS Combinators*/
/*Adjacent Sibling Selector - targets elements immediately following another element, which must be it's sibling and located right after it in the HTML structure.*/
/*selector + selector*/
h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*Descendant Selector (whitespace) - targets any element that is a descendant of another element*/
/*selector selector*/

#bootcamp-learning-list li {
	color: #075966;
}

/*General Sibling Selector (~) - targets all element that follow another element and share the same parent.*/
h2 ~ a, a {
	text-decoration: none;
}



/*Child selector (>) - targets all selector that are the children of a specified element.*/
/*selector > selector*/

body > section > form > label {
	color: rgb(0,0,128);
}