* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;

  }

nav ul {

	list-style: none;
	padding:15px;
	margin:0;
	text-align: right;
}

nav .nav {
	display: inline-block;
}

nav {
	position: sticky;
}

#logo {
	float: left;
}


.tuitt-button, .apply-button {
	background-color: #c2195d;
	color: whitesmoke;
	width: 100px;
	height: 30px;
	border-radius: 100px;
	font-size: 15px;
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-position: center center;
	min-height: 20rem;
}

.front-bg {
	background-color: rgba(0,0,0,0.50);
	min-height: 20rem;
}


.title, .title-2 {
	font-family: Zilla Slab;
	padding-top: 20px;
}

.apply-button {

	margin-top: 10px;
}

.container .title {
	font-size: 2rem;
	text-align: right;
	color: whitesmoke;

}

.container .subtitle {
	font-size: 20px;
	text-align: right;
	color: whitesmoke;
	margin-top: 25px;
}

.container {
	width: 30rem;
	text-align: right;
	margin-left: 50vw;
}

.intro .title-2, .pre-footer .title-2 {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.intro .intro-description {
	text-align: left;
	padding-left: 40px;
	padding-right: 20px;
	padding-bottom: 30px;
	
}

.pre-footer .prefooter-description {
	text-align: left;
	padding-left: 40px;
	padding-right: 20px;
	padding-bottom: 30px;
}

.intro {
	display: 45vh;
}

.pre-footer {
	background-color: #F7FBFB;
	text-align: center;
}

.book-button {
	background-color: #336589;
	color: whitesmoke;
	width: 100px;
	height: 30px;
	border-radius: 100px;
	font-size: 15px;
	margin-bottom: 20px;
}

footer {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 10px;
}