#external-styling {
	color: orange;
}

* {
	font-family: Garamond;
	font-size: 20px;
}

h1 {
	font-size: 40px;
}

#h2 {
	text-transform: uppercase
		
}

.language-type {
	background-color: green;
}

li[class="Tools"] {
	border-width: 1.5px;
	border-style: solid;
	border-color: black;
}


img + ul {
	list-style-type:none;
}

section img {
	height: 200px;
	width: 200px;
	border-radius:180px
}

ul ~ p {
	text-align: center;
	color: black;
}

body > section > ul > li {
	letter-spacing:10px;

}
